﻿<div class="contactDetails padding">
    <div class="container-fluid">
        <form class="form-horizontal" name="timeblockForm" ng-submit="ctrl.saveTimeBlock()">

        	<h4>Name this Time Block</h4>

        	<div class="col-sm-12 col-md-12 col-lg-12">
        		<div class="form-group">
        			<input placeholder="Bedtime, Homework time, etc." class="form-control" type="text" ng-model="ctrl.timeblock.timeblock_json.timeBlockName" />
        		</div>
        	</div>

        	<h4>Days of the Week:</h4>

        	<!-- the days of the week -->
			<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="form-group seven-cols day-of-week-wrapper">
					<div ng-class="'enabled-'+ctrl.timeblock.timeblock_json.days[index]" ng-click="ctrl.toggleDay(index)" class="col-sm-1 col-md-1 col-lg-1 day-of-week" ng-repeat="(index, day) in {'sun':'S', 'mon':'M', 'tue':'T', 'wed':'W', 'thu':'T', 'fri':'F', 'sat':'S'} track by $index">
						{{day}}
					</div>
				</div>
			</div>

        	<!-- start time -->

			<div class="form-group">
				<div class="col-sm-12 col-md-4 col-lg-4">
					<h4>Block Starts:</h4>
				</div>
				<div class="col-sm-12 col-md-8 col-lg-8">
					<!-- using table because container-fluid is not nestable -->
					<div class="table">
						<div class="table-cell timeblock-select">
							<select class="form-control" ng-model="ctrl.timeblock.timeblock_json.startTime" ng-options="option.name for option in ctrl.times track by option.id"></select>
						</div>
					</div>
				</div>
			</div>

        	<!-- end time -->

			<div class="form-group">
				<div class="col-sm-12 col-md-4 col-lg-4">
					<h4>Block Ends:</h4>
				</div>
				<div class="col-sm-12 col-md-8 col-lg-8">
					<!-- using table because container-fluid is not nestable -->
					<div class="table">
						<div class="table-cell timeblock-select">
							<select class="form-control" ng-model="ctrl.timeblock.timeblock_json.endTime" ng-options="option.name for option in ctrl.times track by option.id"></select>
						</div>
					</div>
				</div>
			</div>

            <div class="form-group">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <h4>Enabled:</h4>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
					<checkbox 
						large
						ng-model="ctrl.timeblock.timeblock_json.isEnabled"
						name="isEnabled"
						ng-true-value="true"
						ng-false-value="false"
					></checkbox>
                </div>
            </div>

			<input type="hidden" ng-model="ctrl.timeblock.timeblock_json.timeblock_id">

            <div class="form-group" style="text-align: center;">
                 <input type="submit" value="Save Time Block" class="btn btn-default">
            </div>
        </form>
    </div>
</div>
