<span class="flex"></span>

<div class="btn-group">
    <a href ng-repeat="device in secure.devices" ng-click="vm.selectDevice(device)"
       data-ng-model="secure.user.selectedDeviceId"
       uib-btn-radio="device.id"><img ng-src="{{device.image_url | aviUrl}}" alt=""
                                      ng-class="secure.selectedClass(device.id)"
                                      class="sm-avatar"></a>
</div>
