﻿<!DOCTYPE html>
<html ng-app="WatchDogApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title ng-bind="pageTitle">My Mobile Watchdog</title>

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <!-- build:css content/watchdog.min.css -->
    <link href="content/watchdog.css" rel="stylesheet">
    <!-- /build -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

    <link rel="stylesheet" href="lib/isteven-multi-select.min.css">
    <link rel="stylesheet" href="lib/fullcalendar.min.css">
    <link rel="stylesheet" href="lib/angular-growl.min.css">
    <link rel="stylesheet" href="lib/leaflet/leaflet.css">
    <link rel="stylesheet" href="lib/leaflet/leaflet.awesome-markers.css">
    <!-- build:css inline content/loader.css -->
    <link rel="stylesheet" href="content/loader.css">
    <!-- /build -->
    <style>
        /* This should be in the HTML file instead of the CSS */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
   <script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','//connect.facebook.net/en_US/fbevents.js');

		fbq('init', '1705156823073290');
	</script>
</head>
<body ng-controller="MainController as main" class="has-navbar ng-cloak">
    <header class="header layout-row" id="header" ng-class="main.showBack ? ['show-back'] : []">
        <div class="backBtn">
            <span ng-click="main.goBack()" class="glyphicon glyphicon-menu-left pull-left"
                  aria-hidden="true"></span>
        </div>
        <div class="headerLogo"><img ng-click="main.goDashboard()" src="content/images/logo-sm-fff.svg" /></div>
        <div class="headerText flex"><h1 ng-bind="main.pageTitle"></h1></div>
        <div id="main-menu" ng-show="main.loggedIn"></div>
    </header>

    <div ui-view class="viewContent layout-fill"></div>

    <div class="loader" id="ajaxLoader">
        <span class="flex"></span>

        <div class='uil-default-css' style='-webkit-transform:scale(0.6)'>
            <div style='top:80px;left:93px;width:14px;height:40px;background:#eeeeee;-webkit-transform:rotate(0deg) translate(0,-60px);transform:rotate(0deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
            <div style='top:80px;left:93px;width:14px;height:40px;background:#eeeeee;-webkit-transform:rotate(30deg) translate(0,-60px);transform:rotate(30deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
            <div style='top:80px;left:93px;width:14px;height:40px;background:#eeeeee;-webkit-transform:rotate(60deg) translate(0,-60px);transform:rotate(60deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
            <div style='top:80px;left:93px;width:14px;height:40px;background:#eeeeee;-webkit-transform:rotate(90deg) translate(0,-60px);transform:rotate(90deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
            <div style='top:80px;left:93px;width:14px;height:40px;background:#eeeeee;-webkit-transform:rotate(120deg) translate(0,-60px);transform:rotate(120deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
            <div style='top:80px;left:93px;width:14px;height:40px;background:#eeeeee;-webkit-transform:rotate(150deg) translate(0,-60px);transform:rotate(150deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
            <div style='top:80px;left:93px;width:14px;height:40px;background:#eeeeee;-webkit-transform:rotate(180deg) translate(0,-60px);transform:rotate(180deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
            <div style='top:80px;left:93px;width:14px;height:40px;background:#eeeeee;-webkit-transform:rotate(210deg) translate(0,-60px);transform:rotate(210deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
            <div style='top:80px;left:93px;width:14px;height:40px;background:#eeeeee;-webkit-transform:rotate(240deg) translate(0,-60px);transform:rotate(240deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
            <div style='top:80px;left:93px;width:14px;height:40px;background:#eeeeee;-webkit-transform:rotate(270deg) translate(0,-60px);transform:rotate(270deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
            <div style='top:80px;left:93px;width:14px;height:40px;background:#eeeeee;-webkit-transform:rotate(300deg) translate(0,-60px);transform:rotate(300deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
            <div style='top:80px;left:93px;width:14px;height:40px;background:#eeeeee;-webkit-transform:rotate(330deg) translate(0,-60px);transform:rotate(330deg) translate(0,-60px);border-radius:10px;position:absolute;'></div>
        </div>
        <span class="flex"></span>
    </div>

     <context-menu class="ng-cloak" ng-if="!$state.current.data.hideLogout">
        <div uib-dropdown>
            <div class="context-icon">
                <a href uib-dropdown-toggle>
                    <i class="material-icons">menu</i>
                </a>
            </div>
            <ul class="uib-dropdown-menu" role="menu" uib-dropdown-menu style="right:0;left:inherit;">
                 <li role="menuitem">
                    <a ui-sref="secure.dashboard" class="layout-row">
                        <span class="flex">Parent Dashboard</span><i class="material-icons md-18">dashboard</i>
                    </a>
                </li>
                 <li role="menuitem">
                    <a ui-sref="secure.settings.devices" class="layout-row">
                        <span class="flex">Devices</span><i class="material-icons md-18">devices</i>
                    </a>
                </li>
                <li role="menuitem">
                    <a ui-sref="secure.settings.accounts" class="layout-row">
                        <span class="flex">Account</span><i class="material-icons md-18">account_circle</i>
                    </a>
                </li>
                <li role="menuitem">
                    <a ui-sref="secure.settings.billing" class="layout-row">
                        <span class="flex">Billing</span><i class="material-icons md-18">attach_money</i>
                    </a>
                </li>
                <li role="menuitem">
                    <a ui-sref="secure.settings.alerts" class="layout-row">
                        <span class="flex">Alerts</span><i class="material-icons md-18">add_alert</i>
                    </a>
                </li>
                <li role="menuitem">
                    <a ui-sref="secure.settings.emergency" class="layout-row">
                        <span class="flex">Emergency Contacts</span><i class="material-icons md-18">contact_phone</i>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="http://support.mymobilewatchdog.com" class="layout-row">
                        <span class="flex">Contact Us</span><i class="material-icons md-18">contacts</i>
                    </a>
                </li>

                <li class="divider"></li>
                <li role="menuitem">
                    <a href ng-click="main.logout()" class="layout-row">
                        <span class="flex">Log Out</span>
                        <i class="glyphicon glyphicon-log-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </context-menu>

    <!--<script src="lib/modernizr-2.8.3.min.js"></script>-->
    <script src="lib/bluebird.min.js"></script>
    <script src="lib/lodash.min.js"></script>
    <script src="lib/moment.min.js"></script>
    <script src="lib/leaflet/leaflet.js"></script>
    <script src="lib/leaflet/leaflet.awesome-markers.min.js"></script>
    <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion_async.js"></script>
    <script type="text/javascript">
        // Doing this to ensure JSCS check is passed
        googleTrackConversion = google_trackConversion;
    </script>

    <!-- build:remove -->
    <script>
        Promise.longStackTraces();
    </script>
    <!-- /build -->

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- build:[src] https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js -->
    <script src="./lib/angular.min.js"></script>
    <!-- /build -->
    <!-- build:[src] https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js -->
    <script src="./lib/angular-resource.min.js"></script>
    <!-- /build -->
    <!-- build:[src] https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js -->
    <script src="./lib/angular-animate.min.js"></script>
    <!-- /build -->
    <!-- build:[src] https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js -->
    <script src="./lib/angular-messages.min.js"></script>
    <!-- /build -->
    <!-- build:[src] https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-touch.min.js -->
    <script src="./lib/angular-touch.min.js"></script>
    <!-- /build -->
    <!-- build:[src] https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js -->
    <script src="./lib/angular-cookies.min.js"></script>
    <!-- /build -->
    <script src="lib/angular-ui-router.min.js"></script>
    <script src="lib/angular-bluebird-promises.min.js"></script>
    <script src="lib/angular-simple-logger.min.js"></script>
    <script src="lib/angulartics.min.js"></script>
    <script src="lib/angulartics-google-analytics.min.js"></script>
    <script src="lib/angulartics-facebook-pixel.min.js"></script>
    <script src="lib/ui-leaflet.min.js"></script>
    <script src="lib/ng-file-upload-all.min.js"></script>
    <script src="lib/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/ng-infinite-scroll.min.js"></script>
    <script src="lib/angular-moment.min.js"></script>
    <script src="lib/angular-growl.min.js"></script>
    <script src="lib/fullcalendar.min.js"></script>
    <script src="lib/ui-calendar.min.js"></script>
    <script src="lib/angular-bootstrap-checkbox.js"></script>

    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <script src="lib/ngtimeago.js"></script>
    <script src="lib/isteven-multi-select.min.js"></script>
    <script src="lib/angular_card_input.min.js"></script>

    <link rel="stylesheet" href="lib/ngDialog.min.css">
    <link rel="stylesheet" href="lib/ngDialog-theme-default.min.css">
    <script src="lib/ngDialog.min.js"></script>

    <!-- build:js app/templates.js -->
    <script type="text/javascript">
        angular.module('templates-main', []);
    </script>
    <!-- /build -->
    <!-- build:js app/watchdog.min.js -->
    <script src="app/mmwd.module.js"></script>
    <script src="app/mmwd.constants.js"></script>
    <script src="app/mmwd.config.js"></script>
    <script src="app/mmwd.run.js"></script>
    <script src="app/services/userService.js"></script>
    <script src="app/services/dataService.js"></script>
    <script src="app/services/data/dataService.factory.js"></script>
    <script src="app/services/data/billingData.factory.js"></script>
    <script src="app/services/data/accountsData.factory.js"></script>
    <script src="app/services/data/deep.link.data.factory.js"></script>
    <script src="app/services/data/alertAddressData.factory.js"></script>
    <script src="app/services/error.service.js"></script>
    <script src="app/services/session.service.js"></script>
    <script src="app/services/location.service.js"></script>
    <script src="app/services/actions.service.js"></script>
    <script src="app/common/account.bar.directive.js"></script>
    <script src="app/common/context.menu.directive.js"></script>
    <script src="app/common/main.menu.directive.js"></script>
    <script src="app/common/mdl.directive.js"></script>
    <script src="app/common/confirm.box.factory.js"></script>
    <script src="app/common/confirm.directive.js"></script>
    <script src="app/services/setStatus.factory.js"></script>
    <script src="app/services/infiniteScroll.service.js"></script>
    <script src="app/services/error.handler.factory.js"></script>
    <script src="app/services/spinner.service.js"></script>
    <script src="app/services/ad.conversion.service.js"></script>

    <script src="app/common/contact.name.filter.js"></script>
    <script src="app/common/duration.filter.js"></script>
    <script src="app/common/avatarUrl.filter.js"></script>
    <script src="app/common/date.filter.js"></script>
    <script src="app/common/phone.filter.js"></script>
    <script src="app/common/websiteStatus.filter.js"></script>
    <script src="app/common/statusIcon.directive.js"></script>
    <script src="app/common/statusSettings.directive.js"></script>
    <script src="app/common/infiniteScroll.list.controller.js"></script>

    <script src="app/components/login/login.controller.js"></script>
    <script src="app/components/login/signup.controller.js"></script>
    <script src="app/components/dashboard/dashboardController.js"></script>
    <script src="app/components/wizard/wizard.controller.js"></script>

    <script src="app/components/contacts/contacts.controller.js"></script>
    <script src="app/components/timeblock/timeblock.controller.js"></script>

    <script src="app/components/messages/messages.controller.js"></script>
    <script src="app/components/calls/calls.controller.js"></script>
    <script src="app/components/websites/website.controller.js"></script>
    <script src="app/components/contacts/contactDetailsController.js"></script>
    <script src="app/components/settings/settingsController.js"></script>
    <script src="app/components/settings/devices/deviceListController.js"></script>
    <script src="app/components/settings/emergency/emergencyContactsController.js"></script>
    <script src="app/components/settings/accounts/accountsController.js"></script>
    <script src="app/components/settings/billing/billingController.js"></script>
    <script src="app/components/settings/billing/cancel.controller.js"></script>
    <script src="app/components/settings/alerts/alertsController.js"></script>
    <script src="app/components/settings/alerts/alerts.maint.controller.js"></script>
    <script src="app/components/locations/location.ctrl.js"></script>
    <script src="app/components/reports/reports.controller.js"></script>
    <script src="app/components/reports/create.report.disclaimer.controller.js"></script>
    <script src="app/components/reports/create.report.controller.js"></script>
    <script src="app/components/reports/create.note.controller.js"></script>
    <script src="app/components/deeplink/deep.link.controller.js"></script>
    <script src="app/mainController.js"></script>
    <script src="app/secure.controller.js"></script>
    <!-- /build -->
    <div growl></div>
    <!-- Google Analytics -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-190175-13', 'auto');
//        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
</body>
</html>
