﻿<div class="container-fluid">
    <md-list role="list" class="list-striped">
        <md-list-item ng-repeat="device in ctrl.devices" class="md-3-line row" ng-swipe-left="showActions = true">
            <div class="md-list-item-text secondary-button-padding" ng-show="!showActions">
                <h3 ng-bind="device.display_name"></h3>
                <h4 ng-bind="device.phone_number | phone"></h4>
                <p>Current App Version: <span ng-bind="device.device_android.version_name"></span><br>
                    Last Seen: <span ng-bind="device.connected_on | wdDate"></span><br>
                    <span ng-bind="device.device_status.description"></span></p>
            </div>
            <div ng-if="device.device_android.client_version < device.device_android.max_client_version" class="alert alert-info alert-dismissable device-release">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                The new app version <a ng-bind="device.device_android.max_version_name" class="alert-link"></a> is now available for update.
            </div>
            <div class="md-secondary-container">
                <a href ng-click="ctrl.resendLink(device.id)" ng-cloak ng-if="device.is_android"><i
                    class="material-icons iconAllowFill">link</i></a>
                <a href ng-click="ctrl.sync(device)" ng-cloak ng-if="device.is_configured"><i
                    class="material-icons iconAllowFill">sync</i></a>
                <a href ng-click="ctrl.delete(device.id)"><i class="material-icons iconDeleteFill">delete</i></a>
            </div>
        </md-list-item>
    </md-list>

    <div ng-cloak ng-if="ctrl.devices.length < 5">
        <p class="align-center">
            My Mobile Watchdog allows a maximum of 5 devices in your account. Grab your child's device and we'll guide
            you
            through
            connecting it.
        </p>

        <div class="align-center add-device-button">
            <a ui-sref="secure.wizard.choose">
                <i class="material-icons md-18">add</i> DEVICE
            </a>
        </div>
    </div>

    <div ng-cloak ng-if="ctrl.devices.length >= 5">
        <p class="align-center">
            You have reached the maximum number of devices allowed on My Mobile Watchdog.
        </p>
    </div>
</div>
