<div class="layout-row layout-fill ng-cloak" ng-class="ctrl.messages ? ['record-selected'] : []">

    <div class="flex" id="record-container" class="record-container">
        <md-list infinite-scroll='ctrl.pager.nextPage()' id="application-container"
                 data-infinite-scroll-container="ctrl.container"
                 data-infinite-scroll-disabled='ctrl.pager.busy' data-infinite-scroll-distance='100' class="list-striped flex">

            <md-list-item ng-repeat="app in ctrl.pager.results" class="gridLine md-2-line md-with-secondary">
                <div class="layout-column md-avatar">
                    <span class="flex"></span>
                        <i ng-show="ctrl.pager.device.is_android" data-status-icon data-page="applications" data-alert-status="1" data-restriction-status="{{app.restriction_status_id}}" class="gridTypeImage"></i>
                    <span class="flex"></span>
                </div>

                <div class="layout-column md-list-item-text layout-row">
                    <h3 class="flex">{{app.name}} <img ng-if="app.image_url" ng-src="{{app.image_url}}" class="appStoreImage"></h3>
                </div>
                <status-settings ng-show="ctrl.pager.device.is_android" row-data="app" page="applications" class="md-secondary"
                                 android="{{ctrl.pager.device.is_android}}"></status-settings>

            </md-list-item>

            <div ng-cloak ng-show="!ctrl.pager.results.length">
                <p>No Results Found</p>
            </div>
        </md-list>
    </div>
</div>
