<div class="layout-row layout-fill ng-cloak" ng-class="ctrl.messages ? ['record-selected'] : []">
    <div class="record-container" id="record-container">
        <md-list infinite-scroll='ctrl.pager.nextPage()' id="call-container"
                 ng-infinite-scroll-container="ctrl.container"
                 infinite-scroll-disabled='ctrl.pager.busy' infinite-scroll-distance='1' class="list-striped flex">

            <md-list-item ng-repeat="msg in ctrl.pager.results" class="gridLine md-2-line">
                <div class="layout-column md-avatar">
                    <span class="flex"></span>
                    <a href ng-click="ctrl.selectRecipient(msg.recipients[0])">
                        <div class="gridTypeImage msg"
                             ng-class="{'outgoing':msg.is_outgoing,'incoming':!msg.is_outgoing}"></div>
                    </a>
                    <span class="flex"></span>
                </div>
                <div class="layout-column md-list-item-text">
                    <h3 class="contact_header"><a href ng-click="ctrl.selectRecipient(recipient)" ng-repeat="recipient in msg.recipients"
                           ng-bind="recipient | wdContactName"></a></h3>
                    <p ng-bind="msg.message"></p>
                    <p><span class="glyphicon glyphicon-time"></span> <span ng-bind="msg.device_created_on | wdDate"></span></p>
                </div>
            </md-list-item>

            <div ng-cloak ng-show="!ctrl.pager.results.length">No results found...</div>
        </md-list>
    </div>
    <div class="main-content layout-column">
        <div class="main-content" ng-include="ctrl.template">
        </div>
    </div>
</div>
