﻿<div class="layout-row layout-fill ng-cloak" ng-class="ctrl.call ? ['record-selected'] : []">
    <div class="record-container" id="record-container">
        <md-list infinite-scroll='ctrl.pager.nextPage()' id="call-container"
                 data-infinite-scroll-container="ctrl.container"
                 data-infinite-scroll-disabled='ctrl.pager.busy' data-infinite-scroll-distance='2' class="list-striped flex">
            <md-list-item ng-repeat="call in ctrl.pager.results" class="md-3-line" style="padding: 0 3px">
                <div class="md-avatar">
                    <a href ng-click="ctrl.selectCall(call)">
                        <div class="gridTypeImage call"
                             ng-class="{'outgoing':call.is_outgoing,'incoming':!call.is_outgoing}"></div>
                    </a>
                </div>
                <div class="md-list-item-text">
                    <h3><a href ng-click="ctrl.selectCall(call)" ng-bind="call | wdContactName"></a></h3>

                    <p><span class="glyphicon glyphicon-time"></span> <span ng-bind="call.device_created_on | wdDate"></span></p>
                    <p ng-bind="call.duration | wdDuration"></p>
                </div>
            </md-list-item>
            <div ng-cloak ng-show="!ctrl.pager.results.length">No results found...</div>
        </md-list>
    </div>

    <div class="main-content layout-column">
        <div class="main-content" ng-include="ctrl.template">
        </div>
    </div>
</div>
