<form name="alertForm" id="alertForm">
    <h4>Add SMS Alert</h4>

    <div class="form-group">
        <label for="email">Phone</label>
        <input type="tel" id="email" name="email" class="form-control" placeholder="Phone" ng-maxlength="10"
               ng-minlength="10" ng-model="ctrl.newaddress.email">

        <div ng-messages="alertForm.email.$error" role="alert"
             ng-show="alertForm.$submitted || alertForm.email.$dirty">
            <div ng-message="required">Phone is required</div>
            <div ng-message="maxlength">Phone must be 10 characters long</div>
            <div ng-message="minlength">Phone must be 10 characters long</div>
            <div ng-message="tel">Phone is not in the right format</div>
        </div>
    </div>
    <button type="button" class="btn btn-info" ng-click="ctrl.add(ctrl.newaddress)">CREATE</button>
    <button type="button" class="btn btn-default"
            ng-click="$state.go('secure.settings.alerts', {}, {reload: true})">CANCEL
    </button>
</form>
