﻿<div class="form-group text-primary padding">
    <input type="checkbox" id="alertsEnabled" ng-model="ctrl.account.is_alerts_enabled" ng-change="ctrl.updateAlerts()">
    <label for="alertsEnabled">Alerts are {{ctrl.account.is_alerts_enabled?'on':'off'}}</label>
    <span class="text-muted clearfix">
        Turn {{ctrl.account.is_alerts_enabled?'Off':'On'}} all notifications.
    </span>

    <div class="clearfix"></div>
    <input type="checkbox" id="dailyWatch" ng-model="ctrl.account.is_daily_watch_enabled"
           ng-change="ctrl.updateDailyWatch()">
    <label for="dailyWatch"
           ng-bind="ctrl.account.is_daily_watch_enabled?' Receiving the Daily Watch':'Daily Watch is NOT sent'"></label>
    <span class="text-muted clearfix">
        My Mobile Watchdog's Daily Watch™ sends you a summarized email of all the activity in your account.
    </span>
</div>

<hr/>
<div>
    <h4 class="padding">
        My Mobile Watchdog additionally notifies you via Email at these addresses:
    </h4>

    <md-list role="list" class="list-striped">
        <md-list-item class="md-2-line alert-item" ng-repeat="address in ctrl.alertAddresses">
            <div class="md-avatar">
                <i class="md-avatar-icon material-icons md-24 center" ng-bind="address.is_sms ? 'sms' : 'email'"></i>
            </div>
            <div class="md-list-item-text secondary-button-padding">
                <h3 ng-bind="address.email | phone"></h3>
                <!--<h4 ng-hide="address.is_verified"><span class="text-muted">Waiting for validation</span></h4>-->
            </div>
            <div class="md-secondary-container">
                <div class="devices-buttons-section">
                    <!--<button type="button" class="btn btn-link" ng-click="ctrl.reSend(address)" title="Re-send Link"-->
                            <!--ng-hide="address.is_verified"-->
                            <!--aria-label="re-send link"><i class="material-icons iconDeleteFill">link</i></button>-->
                    <button type="button" class="btn btn-link" ng-click="ctrl.delete(address)" title="Delete Address"
                            aria-label="delete alert address"><i class="material-icons iconDeleteFill">delete</i>
                    </button>
                </div>
            </div>
        </md-list-item>
    </md-list>

    <div class="align-center add-device-button padding">
        <!--<a href ui-sref="secure.alerts.sms" class="btn btn-primary">Add Text Alert</a>-->
        <a href ui-sref="secure.alerts.email" class="btn btn-primary">Add Email Alert</a>
    </div>
</div>
