<div account-bar ng-if="secure.devices.length > 1" data-navigate="secure.dashboard"></div>

<div class="padding">

    <h2>How to Install My Mobile Watchdog on Your Child's Android Phone</h2>

    <h4>1. Set “Unknown Sources” to ON in Settings:</h4>
    <p>My Mobile Watchdog will not work unless Unknown Sources is turned ON so this is one of the most important steps. Within SETTINGS on the Android device, you will scroll the menu options at the top of the screen until you can select PERSONAL. You will then tap the option called “LOCK SCREEN AND SECURITY”. This will allow you to toggle the UNKNOWN SOURCES option to ON.</p>


    <h4>2. Click on the link sent to your child's device to download the application.</h4>
    <p>If you did not receive the text message on your child's phone, click <a href
                                                                               ng-click='ctrl.resendLink(secure.selectedDevice.id)'>here</a> to resend the link.</p>


    <h4>3. Locate and install the app.</h4>
    <p>Use the File Manager and find the mmwd.apk download. Open the app to start the installation.</p>

    <h4>4. Open the My Mobile Watchdog app and login</h4>
    <p>Login to the app to connect the phone to the My Mobile Watchdog system.</p>

    <h4>5. That's it!</h4>
    <p>Once the phone is successfully configured it should immediately begin synchronizing data to My Mobile Watchdog.</p>


    <!--<h2>How to Configure Your Child's Android Phone</h2>-->

    <!--<p>In order to use My Mobile Watchdog, you must install the My Mobile Watchdog app. Follow the following-->
        <!--instructions.</p>-->

    <!--<h4>1. Install My Mobile Watchdog on your child's phone</h4>-->
    <!--<p>If you did not receive the text message, click <a href-->
                                                         <!--ng-click='ctrl.resendLink(secure.selectedDevice.id)'>here</a>-->
        <!--to resend the link.-->
        <!--Or, get the app by going to the Google Play Store-->
        <!--on your child's phone and searching-->
        <!--for My Mobile Watchdog.</p>-->
    <!--<h4>2. Open the My Mobile Watchdog app and login</h4>-->
    <!--<p>Login to the app to connect the phone to the My Mobile Watchdog system.</p>-->

    <!--<h4>3. That's it!</h4>-->
    <!--<p>Once the phone is successfully configured it should immediately begin synchronizing data to My Mobile-->
        <!--Watchdog.</p>-->
</div>
