<div ng-cloak class="layout-column layout-fill">
    <div account-bar ng-if="secure.devices.length > 1" navigate="secure.dashboard"></div>

    <div ng-if="secure.selectedDevice.is_configured" class="layout-row layout-sm-column dashboard flex"
         style="height:100%; overflow-y: scroll;">
        <div>
            <div ng-if="secure.selectedDevice.device_android.client_version < secure.selectedDevice.device_android.max_client_version" class="alert alert-warning alert-dismissable device-update">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                Some of your Android devices have outdated version of the My Mobile Watchdog app.
                <a ui-sref="secure.settings.devices" class="alert-link">Click here</a> to go to devices section.
            </div>
            <div class="buttons">
                <div class="circle-container">
                    <div class="avatar mdl-shadow--2dp"
                         ng-click="ctrl.showUpload()"
                         ng-style="{'background-image': 'url(' + (secure.selectedDevice.image_url | aviUrl) + ')'}"></div>
                    <a ui-sref="secure.messages({deviceId:secure.selectedDevice.id})"
                       class="btn btn-circle btn-xl navigationBtn deg270">
                        <div class="text-center">
                            <span class="badge" ng-bind="ctrl.unread.messages" ng-if="ctrl.unread.messages"></span>
                            <img src="./content/images/navigation_icons/messages.svg" class="mdl-shadow--2dp"
                                 style="border-radius: 50%"><br>
                            Messages
                        </div>
                    </a>
                    <a ui-sref="secure.calls({deviceId:secure.selectedDevice.id})"
                       class="btn btn-circle btn-xl navigationBtn deg315">
                        <div class="text-center">
                            <span class="badge" ng-bind="ctrl.unread.calls" ng-if="ctrl.unread.calls"></span>
                            <img src="./content/images/navigation_icons/calls.svg" class="mdl-shadow--2dp"
                                 style="border-radius: 50%"><br>
                            Calls
                        </div>
                    </a>
                    <a ui-sref="secure.location.last({deviceId: secure.selectedDevice.id})"
                       class="btn btn-circle btn-xl navigationBtn deg225">
                        <div class="text-center">
                            <img src="./content/images/navigation_icons/locations.svg" class="mdl-shadow--2dp"
                                 style="border-radius: 50%"><br>
                            Locations
                        </div>
                    </a>
                    <a ui-sref="secure.contacts({deviceId:secure.selectedDevice.id})"
                       class="btn btn-circle btn-xl navigationBtn deg0">
                        <div class="text-center">
                            <span class="badge" ng-bind="ctrl.unread.contacts" ng-if="ctrl.unread.contacts"></span>
                            <img src="./content/images/navigation_icons/contacts.svg" class="mdl-shadow--2dp"
                                 style="border-radius: 50%"><br>
                            Contacts
                        </div>
                    </a>
                    <a ui-sref="secure.applications({deviceId:secure.selectedDevice.id})"
                       class="btn btn-circle btn-xl navigationBtn deg45">
                        <div class="text-center">
                            <span class="badge" ng-bind="ctrl.unread.applications" ng-if="ctrl.unread.applications"></span>
                            <img src="./content/images/navigation_icons/applications.svg" class="mdl-shadow--2dp"
                                 style="border-radius: 50%"><br>
                            Applications
                        </div>
                    </a>
                    <a ui-sref="secure.websites({deviceId:secure.selectedDevice.id})"
                       class="btn btn-circle btn-xl navigationBtn deg135">
                        <div class="text-center">
                            <span class="badge" ng-bind="ctrl.unread.websites" ng-if="ctrl.unread.websites"></span>
                            <img src="./content/images/navigation_icons/websites.svg" class="mdl-shadow--2dp"
                                 style="border-radius: 50%"><br>
                            Websites
                        </div>
                    </a>
                    <a ui-sref="secure.reports" class="btn btn-circle btn-xl navigationBtn deg90">
                        <div class="text-center">
                            <img src="./content/images/navigation_icons/reports.svg" class="mdl-shadow--2dp"
                                 style="border-radius: 50%"><br>
                            Reports
                        </div>
                    </a>
                    <a ui-sref="secure.time_block" class="btn btn-circle btn-xl navigationBtn deg180">
                        <div class="text-center">
                            <img src="./content/images/navigation_icons/timeblock.svg" class="mdl-shadow--2dp"
                                 style="border-radius: 50%"><br>
                            Time Block
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="map layout-column ng-cloak">
            <div class="padding" ng-show="session.isActiveSubscriber">
                <button class="btn btn-info text-capitalize" ng-click="ctrl.lastLocation()">Request current location
                </button>
            </div>
            <leaflet markers="ctrl.markers" lf-center="ctrl.center" style="width: 100%;min-height:100%;"
                     defaults="ctrl.mapDefaults" class="flex" ng-if="ctrl.center"></leaflet>
            <div class="padding" ng-if="!ctrl.center">
                <h3>No location data available</h3>
            </div>
        </div>
    </div>
</div>
