<div class="container">
    <h1>Thank You</h1>

    <p>If the email address you provided is correct, you will be receiving an email shortly with the information.</p>

    <p><a ui-sref="login">Click here</a> to to back to the login page.</p>
</div>
