﻿<div class="container layout-fill">
    <div class="row layout-column layout-fill">
        <span class="flex"></span>

        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="panel panel-default centered" role="form">
                <div class="panel-heading">
                    <h1 class="panel-title">User Credentials</h1>
                </div>
                <div class="panel-body">
                    <form name="loginForm" ng-submit="ctrl.login()">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" name="email" ng-model="ctrl.email" placeholder="User Email"
                                   class="form-control" required>

                            <div ng-messages="loginForm.email.$error" role="alert"
                                ng-show="loginForm.$submitted || loginForm.email.$dirty">
                                <div ng-message="required">Email Address is required</div>
                                <div ng-message="email">Email Address is not in the right format</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" name="password" ng-model="ctrl.password" placeholder="Password"
                                   class="form-control" ng-minlength="8" required>

                            <div ng-messages="loginForm.password.$error" role="alert"
                                 ng-show="loginForm.$submitted || loginForm.password.$dirty">
                                <div ng-message="required">Password is required</div>
                                <div ng-message="minlength">Password must be at least 8 characters long</div>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" ng-model="ctrl.rememberMe" class=""> Remember my Email Address</label>
                        </div>
                        <input type="submit" class="btn form-control btn-default"
                               ng-disabled="loginForm.$pristine || loginForm.$invalid">
                    </form>
                </div>
            </div>

            <div class="panel panel-default centered" role="form">
                <div class="panel-heading">
                    <h1 class="panel-title"><span class="text-danger">IMPORTANT</span></h1>
                </div>
                <div class="panel-body">
                    Customers who signed up before Dec 29, 2015 need to login <a href="https://www.mymobilewatchdog.com/appui/app.shtml">here</a>
                </div>
            </div>

                <p>Don't have an account? <a ui-sref="signUp">Sign up</a>.</p>

            <p>Forgot your password? <a ui-sref="forgot">Ask our robots</a> to make a new one.</p>
        </div>
        <span class="flex"></span>
    </div>
</div>
