<div class="panel panel-default" id="new-account-information">
	<div class="panel-heading">
		<h1 class="panel-title">New Account Information</h1>
	</div>
	<div class="panel-body">
		<form name="$parent.signUpForm" ng-submit="ctrl.signUp()">
			<div ng-if="ctrl.error" class="alert alert-danger" role="alert" ng-bind="ctrl.error"></div>

			<div class="row">
				<div class="form-group col-sm-6">
					<input type="text" name="firstName" ng-model="ctrl.user.firstName" class="form-control"
						   placeholder="First Name" required ng-minlength="2">

					<div ng-messages="signUpForm.firstName.$error" role="alert"
						 ng-show="signUpForm.$submitted || signUpForm.firstName.$dirty">
						<div ng-message="required">First Name is required</div>
						<div ng-message="minlength">First Name must be at least 2 characters long</div>
					</div>
				</div>
				<div class="form-group col-sm-6">
					<input type="text" name="lastName" ng-model="ctrl.user.lastName" class="form-control"
						   placeholder="Last Name" required ng-minlength="2">

					<div ng-messages="signUpForm.lastName.$error" role="alert"
						 ng-show="signUpForm.$submitted || signUpForm.lastName.$dirty">
						<div ng-message="required">Last Name is required</div>
						<div ng-message="minlength">Last Name must be at least 2 characters long</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="email" name="email" ng-model="ctrl.user.email" class="form-control"
					   placeholder="Email Address" required>

				<div ng-messages="signUpForm.email.$error" role="alert"
					 ng-show="signUpForm.$submitted || signUpForm.email.$dirty">
					<div ng-message="required">Email Address is required</div>
					<div ng-message="email">Email Address is not in the right format</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-6">
					<input type="password" name="password" ng-model="ctrl.user.password"
						   class="form-control" required ng-minlength="8"
						   placeholder="Password">

					<div ng-messages="signUpForm.password.$error" role="alert"
						 ng-show="signUpForm.$submitted || signUpForm.password.$dirty">
						<div ng-message="required">Password is required</div>
						<div ng-message="minlength">Password must be at least 8 characters long</div>
					</div>
				</div>
				<div class="form-group col-sm-6">
					<input type="password" name="password2" ng-model="ctrl.user.password2"
						   class="form-control" required
						   placeholder="Confirm Password" ng-minlength="8">

					<div ng-messages="signUpForm.password2.$error" role="alert"
						 ng-show="signUpForm.$submitted || signUpForm.password.$dirty">
						<div ng-message="required">Confirm Password is required</div>
						<div ng-message="minlength">Confirm Password must be at least 8 characters long
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-12">
					<input type="text" name="promo" ng-model="ctrl.user.promo"
						   class="form-control" placeholder="Promo Code">
				</div>
			</div>
			<input type="submit" class="btn btn-default form-control" value="Sign Up"
				   ng-disabled="signUpForm.$pristine || signUpForm.$invalid">
		</form>
	</div>
</div>
<p>Want to <a ui-sref="login">login instead</a>?</p>

<p>Forgot your password? <a ui-sref="forgot">Ask our robots</a> to make a new one.</p>


<!-- modals within iframes-->
<script type="text/ng-template" id="myModalContent.html">
<div id="framedModal" role="dialog" class="modal fade">
  <div class="modal-dialog modal-lg">
	<div style="background-color: white" class="modal-content">
	  <div class="modal-header">
		<button type="button" data-dismiss="modal" class="close">&times;</button>
		<h4 class="modal-title">Modal Header</h4>
	  </div>
	  <div class="modal-body">Loading...</div>
	  <div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
	  </div>
	</div>
  </div>
</div>
</script>

