<div class="col-md-12" style="margin-bottom: 10px">
    <p class="page-header">
        Please enter your current password to be able to change to a new password.
    </p>

    <div class="col-md-6 col-md-offset-3">
        <form name="passwordForm">
            <div class="form-group">
                <label>Current Password</label>
                <input type="password" placeholder="Current Password" ng-model="ctrl.account.current_password"
                       name="current" class="form-control" required ng-minlength="8" autofocus>

                <div ng-messages="passwordForm.current.$error" role="alert"
                     ng-show="passwordForm.$submitted || passwordForm.current.$dirty">
                    <div ng-message="required">Current password is required</div>
                    <div ng-message="minlength">Current password must be at least 8 characters long</div>
                </div>
            </div>

            <div class="form-group">
                <label>New Password</label>
                <input type="password" placeholder="New Password" ng-model="ctrl.account.new_password"
                       name="password" class="form-control" required ng-minlength="8">

                <div ng-messages="passwordForm.password.$error" role="alert"
                     ng-show="passwordForm.$submitted || passwordForm.password.$dirty">
                    <div ng-message="required">Password is required</div>
                    <div ng-message="minlength">Password must be at least 8 characters long</div>
                </div>
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" placeholder="Confirm New Password" ng-model="ctrl.account.confirm_password"
                       name="password2" class="form-control" required ng-minlength="8"
                       confirm="{{ctrl.account.new_password}}">

                <div ng-messages="passwordForm.password2.$error" role="alert"
                     ng-show="passwordForm.$submitted || passwordForm.password.$dirty">
                    <div ng-message="required">Password confirmation is required</div>
                    <div ng-message="minlength">Password confirmation must be at least 8 characters long</div>
                    <div ng-message="confirm">Passwords must match</div>
                </div>
            </div>
        </form>
        <div class="top-left-padding">
            <button type="button" class="btn btn-info" ng-click="ctrl.changePassword()">Update</button>
            <button type="button" class="btn btn-warning" ng-click="$state.go('^')">Cancel</button>
        </div>
        <!--<div class="align-center">-->
        <!--<button type="button" class="btn btn-warning" ng-click="ctrl.cancelSubscription()">CANCEL SUBSCRIPTION</button>-->
        <!--</div>-->
    </div>
</div>
