<div class="container-fluid" style="padding-top: 10px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 ng-bind="ctrl.site.domain" class="panel-title"></h2>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label">Status</label>
                <select class="form-control" ng-model="ctrl.alertStatus">
                    <option ng-repeat="item in ctrl.alerts" value="{{item.id}}"
                            ng-bind="item.description"></option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Restriction</label>
                <select class="form-control"
                        ng-model="ctrl.restrictionStatus">
                    <option ng-repeat="item in ctrl.restrictions" value="{{item.id}}"
                            ng-bind="item.description"></option>
                </select>
            </div>
        </div>
    </div>
</div>
