﻿<div class="align-center newdevice-heading">
    Select your device platform
</div>

<div class="col-md-12 ">
    <div class="col-md-6 align-center">
        <div></div>
        <h5>IOS</h5>
    </div>
    <div class="col-md-6 align-center">
        <div></div>
        <h5>ANDRIOD</h5>
    </div>
</div>