﻿<div class="col-md-12">
    <div class="container layout-fill">
        <div class="row layout-column layout-fill">
            <div ng-cloak ng-if="ctrl.isActive">
                <h3>Billing Information
                    <small>Your subscription is active</small>
                </h3>

                <table class="table table-striped">
                    <colgroup>
                        <col class="col-xs-5 col-sm-3 col-md-2">
                        <col class="col-xs-7 col-sm-9 col-md-10">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td><strong>Price</strong></td>
                        <td>$<span ng-bind="ctrl.billings.source.amount"></span></td>
                    </tr>
                    <tr>
                        <td><strong>Created Date</strong></td>
                        <td><span class="glyphicon glyphicon-time"></span> <span
                            ng-bind="ctrl.billings.source.created_on | wdDate"></span></td>
                    </tr>
                    <tr>
                        <td><strong>Started Date</strong></td>
                        <td><span class="glyphicon glyphicon-time"></span> <span
                            ng-bind="ctrl.billings.source.started_on | wdDate"></span></td>
                    </tr>
                    <tr>
                        <td><strong>Ending Date</strong></td>
                        <td><span class="glyphicon glyphicon-time"></span> <span
                            ng-bind="ctrl.billings.source.ended_on | wdDate"></span></td>
                    </tr>
                    </tbody>
                </table>

                <hr>
                <a ui-sref="secure.cancel" class="btn btn-danger">Cancel Subscription</a>
                <a ui-sref="secure.settings.billing.update" class="btn btn-primary" style="float:right;">Update Credit Card</a>
            </div>
            <div ng-cloak ng-if="!ctrl.isActive">
                <h3>Billing Information
                    <small>Your subscription is not active</small>
                </h3>

                <p class="lead">Please enter your credit card to start your subscription. My Mobile Watchdog supports up to five devices per account. Thank you.</p>

                <div class="panel-body" ng-include="'./app/components/settings/billing/card-form.html'"></div>
            </div>

            <ui-view></ui-view>
        </div>
    </div>
</div>
