<div class="layout-fill padding">
    <h3 class="text-capitalize">We're sorry to see you go</h3>

    <form name="cancelForm" ng-submit="ctrl.cancel()">
        <div class="form-group">
            <label for="reason" class="text-capitalize">Reason for cancelling</label>
            <select name="reason" id="reason" ng-model="ctrl.reason" class="form-control" required>
                <option value="">Provide a reason...</option>
                <option value="{{reason}}" ng-bind="reason" ng-repeat="reason in ctrl.reasons track by $index"></option>
            </select>
        </div>

        <input type="submit" value="Cancel my account" class="btn btn-danger"
               ng-disabled="cancelForm.$pristine || cancelForm.$invalid">
        <a ui-sref="secure.settings.billing" data-ui-sref-opts="{reload: true}"
           class="btn btn-default">I changed my mind</a>
    </form>
</div>
