<div class="modal-header">
    <h3 class="modal-title">Parental Report</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="recentFirst" class="col-sm-2 control-label">Sort Order</label>
            <div class="col-sm-10 col-md-8">
                <label class="radio-inline">
                    <input type="radio" ng-model="ctrl.reportParameters.sortDir" name="recentFirst" id="inlineRadio1" value="ASC"> Most Recent First
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="ctrl.reportParameters.sortDir" name="recentFirst" id="inlineRadio2" value="DESC">Most Recent Last
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="startDate" class="col-sm-2 control-label">Start Date</label>
            <div class="col-sm-10 col-md-5">
                <p class="input-group">
                    <input uib-datepicker-popup
                           id="startDate"
                           type="text"
                           class="form-control"
                           ng-model="ctrl.reportParameters.startDate"
                           ng-required="true"
                           close-text="Close"
                           is-open="ctrl.datePickerStatus.dateFrom"
                            />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="ctrl.openDatePicker('dateFrom')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="endDate" class="col-sm-2 control-label">End Date</label>
            <div class="col-sm-10 col-md-5">
                <p class="input-group">
                    <input uib-datepicker-popup
                           id="endDate"
                           type="text"
                           class="form-control"
                           ng-model="ctrl.reportParameters.endDate"
                           ng-required="true"
                           close-text="Close"
                           is-open="ctrl.datePickerStatus.endDate" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="ctrl.openDatePicker('endDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ctrl.generateReport()">Generate</button>
    <button class="btn btn-warning" type="button" ng-click="ctrl.clickCancel()">Cancel</button>
</div>
