<div style="padding: 10px;">
    <h3 class="text-capitalize">Please select the device to add</h3>

    <md-list>
        <md-list-item ng-repeat="(deviceId, device) in ctrl.devices" class="md-3-line" ng-click="ctrl.selectDevice(deviceId)">
            <div class="md-avatar" style="color: #fff;background-color: #0000cc;">
                <i class="material-icons md-avatar-icon">tablet_mac</i>
            </div>
            <div class="md-list-item-text">
                <h3 ng-bind="device.device_name"></h3>
                <h4 ng-bind="device.name"></h4>
                <p class="text-muted"><i class="glyphicon glyphicon-time"></i> <span
                    ng-bind="device['latest-backup'] | wdDate"></span></p>
            </div>
        </md-list-item>
    </md-list>

</div>
