<div class="dialog-contents" style="padding: 15px 10px 0px 10px;display: block;word-wrap: break-word;width: 420px;">
    <p>
       Please disable two factor authentication in your account for the app to work, for more info kindly visit, 
       <a href="http://support.mymobilewatchdog.com/solution/articles/1000242686-two-factor-authentication-message-when-configuring-how-to-i-fix-that-" target="_blank" style="outline:0;">http://support.mymobilewatchdog.com/solution/articles/1000242686-two-factor-authentication-message-when-configuring-how-to-i-fix-that-</a>
    </p>
    <div class="ngdialog-buttons"><button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog(0)">Ok</button></div>
</div>
