<div style="padding: 10px;">

    <form name="deviceForm" ng-submit="ctrl.add(1)">
        <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <h2>Child's Phone Information</h2>

            <p>Please enter the phone number for your child's phone. We will send a text message to this phone with a link to the My Mobile Watchdog Android application. </p>
            <div class="form-group">
                <input type="tel" ng-model="ctrl.device.phone" placeholder="Phone Number" class="form-control"
                       name="phone" required minlength="10" maxlength="10">

                <div ng-messages="deviceForm.phone.$error" role="alert">
                    <div ng-message="required">Phone is required</div>
                    <div ng-message="minlength">Phone must be 10 digits</div>
                    <div ng-message="maxlength">Phone must be 10 digits</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" ng-model="ctrl.device.displayName" placeholder="Child's Name" class="form-control"
                       name="name" required>

                <div ng-messages="deviceForm.name.$error" role="alert">
                    <div ng-message="required">Display Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="deviceForm.submit()">Add Device</button>
            </div>
        </div>
    </form>
</div>
