<div class="layout-fill layout-column">
    <div account-bar ng-if="secure.devices.length > 1" data-navigate="secure.location.last"></div>

    <div class="layout-fill layout-row map-screen" ng-class="ctrl.call ? ['record-selected'] : []">
        <div ng-if="$state.is('secure.location.all')" class="layout-column"
             ng-class="ctrl.viewList ? [] : ['hidden-xs']">
            <div class="layout-row">
                <button class="mdl-button mdl-js-button hidden-xs" data-mdl data-ng-disabled="!ctrl.selected"
                        ng-click="ctrl.showAll()">
                    Show All
                </button>

                <button class="mdl-button mdl-js-button hidden-xs"
                        data-mdl ng-click="ctrl.animate()"
                        ng-bind="ctrl.animating ? 'Stop' : 'Animate'">
                </button>

                <button class="mdl-button mdl-js-button visible-xs"
                        data-mdl ng-click="ctrl.viewList = false">
                    View Map
                </button>
            </div>
            <md-list infinite-scroll='ctrl.pager.nextPage()' infinite-scroll-disabled='ctrl.pager.busy'
                     infinite-scroll-distance='1' infinite-scroll-container="ctrl.container" id="location-container"
                     class="list-striped single-line record-container layout-fill">
                <md-list-item ng-repeat="location in ctrl.pager.results" class="gridLine md-3-line">
                    <div class="layout-column md-avatar">
                        <span class="flex"></span>
                        <a href ng-click="ctrl.selectLocation(location)">
                            <i data-status-icon data-page="websites"
                               class="gridTypeImage"
                               data-alert-status="{{location.device_website.alert_status_id}}"
                               data-restriction-status="{{location.device_website.restriction_status_id}}"></i></a>
                        <span class="flex"></span>
                    </div>

                    <div class="md-list-item-text">
                        <h3><a href ng-click="ctrl.selectLocation(location)" ng-bind="location.place.display_name"></a>
                        </h3>
                        <h4><span class="text-muted"><span class="glyphicon glyphicon-time"></span> <span
                            ng-bind="location.log.device_created_on | wdDate"></span></span></h4>

                        <p><span
                            ng-bind="location.place.city + ', '" ng-show="location.place.city"></span><span ng-bind="location.place.state"></span></p>
                    </div>
                </md-list-item>
            </md-list>

            <div ng-cloak ng-show="!ctrl.pager.results.length">No results found...</div>
        </div>
        <div class="main-content" ng-class="ctrl.viewList ? ['hidden-xs'] : []">
            <div class="layout-row visible-xs">
                <button class="mdl-button mdl-js-button" data-mdl ng-disabled="!ctrl.selected"
                        ng-click="ctrl.showAll()">
                    Show All
                </button>

                <button class="mdl-button mdl-js-button"
                        data-mdl ng-click="ctrl.animate()"
                        ng-bind="ctrl.animating ? 'Stop' : 'Animate'">
                </button>

                <button class="mdl-button mdl-js-button"
                        data-mdl ng-click="ctrl.viewList = true">
                    View List
                </button>
            </div>

            <div class="padding">
                <button class="btn btn-info text-capitalize" ng-click="ctrl.lastLocation()">Request current location
                </button>
            </div>

            <leaflet style="width: 100%; height: 100%;" lf-center="ctrl.center" markers="ctrl.markers"
                     bounds="ctrl.bounds"
                     class="flex"></leaflet>
            <div style="position: absolute;right: 42px;bottom: 42px;" ng-if="$state.is('secure.location.last')">
                <a ui-sref="secure.location.all" data-mdl title="Show All"
                   class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--colored"><i
                    class="material-icons">all_inclusive</i></a>
            </div>
        </div>
    </div>
</div>
